html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;
    hr {
        width: 100%;
    }
}
#space
{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
}
.container_subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
    font-size: 16px;
    font-weight: 900;
    color: rgba(255,255,255,1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container_single_field
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 2;
    label
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-size: 14px;
        color: rgba(255,255,255,1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    input
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: rgba(22,22,22,1);
        border-width: 0;
        padding:5px 20px;
        font-size: 14px;
        color: rgba(255,255,255,1);
    }
}
.container_color_field
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    z-index: 2;
    label
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgba(255,255,255,1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        padding: 10px;
    }
    input
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        text-align: center;
        background-color: rgba(22,22,22,1);
        color:rgba(255,255,255,1);
        border-width: 0;
        font-size: 16px;
        padding: 2px;
    }
}
.container_fields
{   
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0,0,0,0.85);
    border-width: 2px;
    border-color: rgba(255,255,255,0.35);
    border-style: solid;
    box-sizing: border-box;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: slideLeft;
}
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0;
    box-sizing: border-box;
    width: 150px;
    height: 25px;
    color:rgba(255,255,255,1);
    background-color: rgba(44,44,44,1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.1s;
    z-index: 2;
}
button:hover
{
    transform: scale(1.05);
}
.container_handler_row {
    display: flex;
    position: absolute;
    height: 50px;
    width: 110%;
    top: calc(50% - 25px);
    right: 0;
    border-radius: 50px;
    z-index: 0;
    overflow: hidden;
    #container_handler {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        height: 50px;
        width: calc(100%/11);
        left: 0;
        z-index: 0;
        background-color: rgba(0,0,0,0.85);
        border-width: 2px;
        border-top-color: rgba(255,255,255,0.35);
        border-bottom-color: rgba(255,255,255,0.35);
        border-left-color: rgba(255,255,255,0.35);
        border-style: solid;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        box-sizing: border-box;
    }
    #container_arrow {
        display: flex;
        height: 15px;
        width: 15px;
        transform:rotate(180deg);
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-name: rotateRight;
    }
    #container_handler:hover {
        cursor: pointer;
    }
}
@keyframes rotateLeft {
    0% {
        transform:rotate(180deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes rotateRight {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(180deg);
    }
}
@keyframes slideRight {
    0% {
        right: 0;
    }
    100% {
        right: -300px;
    }
}
@keyframes slideLeft {
    0% {
        right: -300px;
    }
    100% {
        right: 0;
    }
}