html
{
    height: 100%;
}
body
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
}
#space
{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
}