html
{
    height: 100%;
}
body
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
}
#space
{
    height: 100%;
    width: 80%;
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
}
.container_single_field
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    label
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        font-size: 16px;
        color: rgba(255,255,255,1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    input
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: rgba(22,22,22,1);
        border-width: 0;
        padding:5px 20px;
        font-size: 16px;
        color: rgba(255,255,255,1);
    }
}
.container_color_field
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    label
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgba(255,255,255,1);
        font-size: 16px;
        padding: 10px;
    }
    input
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        text-align: center;
        background-color: rgba(22,22,22,1);
        color:rgba(255,255,255,1);
        border-width: 0;
        font-size: 16px;
        padding: 2px;
    }
}
.container_fields
{   
    display: flex;
    align-items: center;
    flex-direction: column;
    button
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        border-radius: 5px;
        font-size: 15px;
        margin-top: 20px;
        border-width: 0;
        box-sizing: border-box;
        width: 150px;
        height: 25px;
        color:rgba(255,255,255,1);
        background-color: rgba(44,44,44,1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: all 0.5s;
    }
    button:hover
    {
        transform: scale(1.05);
    }
}